<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A Web Page</title>
</head>
<body>
    @using ProjectName.Models
    @model int[]

    @foreach(int i in Model)
    {
        <p>@i</p>
    }
</body>
</html>